.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-image-1 {width: 170px; height: 50px; margin: 225px auto}
.u-section-1 .u-text-1 {margin: 20px auto 60px}
.u-section-1 .u-text-2 {margin: -391px 25px 60px}
.u-section-1 .u-text-3 {font-size: 1.25rem; font-weight: 700; width: auto; margin: -36px auto 60px 40px} 

@media (max-width: 1199px){ .u-section-1 .u-text-3 {margin-top: -202px}
.u-section-1 .u-icon-1 {height: 39px; width: 39px; margin: 173px auto 60px 25px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 520px}
.u-section-1 .u-image-1 {width: 50px; height: 15px; margin-top: 40px; margin-bottom: 0}
.u-section-1 .u-text-1 {width: auto; margin-bottom: 0}
.u-section-1 .u-text-2 {margin-top: 168px; margin-bottom: 0}
.u-section-1 .u-text-3 {font-size: 1.5rem; margin: -177px 7px 0}
.u-section-1 .u-icon-1 {height: 45px; width: 45px; margin-top: -114px; margin-left: 148px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 0; font-size: 2.25rem; font-weight: normal; font-style: normal}
.u-section-2 .u-line-1 {height: 3px; transform-origin: left center 0; margin: -44px auto 30px 0}
.u-section-2 .u-text-2 {font-size: 1rem} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 103px}
.u-section-2 .u-text-1 {font-size: 1.875rem; width: auto; font-weight: 700; font-style: italic; margin-top: 11px; margin-left: auto; margin-right: auto}
.u-section-2 .u-line-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {font-size: 0.75rem; margin: 43px 15px 38px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-custom-html-1 {width: 170px; min-height: 68px; margin: 60px auto}
.u-section-3 .u-custom-html-2 {width: 170px; min-height: 68px; margin: 30px auto 0}
.u-section-3 .u-text-1 {font-size: 1rem; font-weight: normal}
.u-section-3 .u-text-2 {font-size: 1rem; font-weight: normal}
.u-section-3 .u-text-3 {font-size: 1rem; font-weight: normal} 

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1052px}
.u-section-3 .u-custom-html-1 {min-height: 247px; height: auto; width: 122px; margin-top: 50px; margin-bottom: 0}
.u-section-3 .u-custom-html-2 {min-height: 247px; height: auto; width: 122px; margin-top: 87px}
.u-section-3 .u-text-1 {font-size: 0.875rem; font-weight: 700; width: auto; margin: -631px 28px 0 0}
.u-section-3 .u-text-2 {font-size: 0.875rem; font-weight: 700; width: auto; margin: 325px auto 0 0}
.u-section-3 .u-text-3 {font-size: 0.875rem; font-weight: 700; width: auto; margin: 342px auto 0 0}
.u-section-3 .u-custom-html-3 {min-height: 247px; height: auto; width: 125px; margin: 28px auto 44px} }