.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-image-1 {width: 170px; height: 50px; margin: 225px auto}
.u-section-1 .u-text-1 {margin: 20px auto 60px}
.u-section-1 .u-text-2 {margin: -391px 25px 60px}
.u-section-1 .u-text-3 {margin: 145px 25px 60px}
.u-section-1 .u-text-4 {width: auto; margin: 140px auto 60px 25px}
.u-section-1 .u-text-5 {width: auto; margin: 140px auto 60px 25px}
.u-section-1 .u-text-6 {font-size: 1.25rem; font-weight: 700; width: auto; margin: -36px auto 60px 40px}
.u-section-1 .u-text-7 {font-size: 1rem; font-weight: normal}
.u-section-1 .u-text-8 {font-size: 1.5rem; font-weight: 700; margin: 278px 10px 60px}
.u-section-1 .u-text-9 {font-size: 1.5rem; font-weight: 700; margin: 302px 10px 60px} 

@media (max-width: 1199px){ .u-section-1 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-1 .u-text-4 {margin-left: 20px}
.u-section-1 .u-text-5 {margin-left: 20px}
.u-section-1 .u-text-6 {margin-top: -847px}
.u-section-1 .u-icon-1 {height: 39px; width: 39px; margin: 173px auto 0 25px}
.u-section-1 .u-text-7 {font-size: 1.25rem; font-weight: 700; width: auto; margin: 30px auto 60px 29px}
.u-section-1 .u-text-8 {margin-left: 8px; margin-right: 8px}
.u-section-1 .u-text-9 {margin-left: 8px; margin-right: 8px} }

@media (max-width: 991px){ .u-section-1 .u-text-4 {margin-left: 15px}
.u-section-1 .u-text-5 {margin-left: 15px}
.u-section-1 .u-text-7 {margin-left: 22px}
.u-section-1 .u-text-8 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-9 {margin-left: 6px; margin-right: 6px} }

@media (max-width: 767px){ .u-section-1 .u-text-4 {margin-left: 11px}
.u-section-1 .u-text-5 {margin-left: 11px}
.u-section-1 .u-text-7 {margin-left: 17px}
.u-section-1 .u-text-8 {margin-left: 5px; margin-right: 5px}
.u-section-1 .u-text-9 {margin-left: 5px; margin-right: 5px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1447px}
.u-section-1 .u-image-1 {width: 50px; height: 15px; margin-top: 40px; margin-bottom: 0}
.u-section-1 .u-text-1 {width: auto; margin-bottom: 0}
.u-section-1 .u-text-2 {margin-top: 156px; margin-bottom: 0}
.u-section-1 .u-text-3 {margin: 124px 25px 0}
.u-section-1 .u-text-4 {margin: 143px 25px 0}
.u-section-1 .u-text-5 {margin: 115px 25px 0}
.u-section-1 .u-text-6 {font-size: 1.5rem; margin: -1124px 13px 0 auto}
.u-section-1 .u-icon-1 {height: 45px; width: 45px; margin-top: -115px; margin-left: auto}
.u-section-1 .u-text-7 {font-size: 1.5rem; margin: 281px 7px 0}
.u-section-1 .u-text-8 {margin: 277px 10px 0}
.u-section-1 .u-text-9 {margin-left: 10px; margin-right: 10px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 0; font-size: 2.25rem; font-weight: normal; font-style: normal}
.u-section-2 .u-line-1 {height: 3px; transform-origin: left center 0; margin: -44px auto 30px 0}
.u-section-2 .u-text-2 {font-size: 1rem} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 134px}
.u-section-2 .u-text-1 {font-size: 1.875rem; width: auto; font-weight: 700; font-style: italic; margin-top: 11px; margin-left: auto; margin-right: auto}
.u-section-2 .u-line-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {font-size: 0.75rem; margin: 41px 15px 60px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-custom-html-1 {width: 170px; min-height: 68px; margin: 60px auto}
.u-section-3 .u-custom-html-2 {width: 570px; min-height: 228px; margin: 30px auto 60px 20px}
.u-section-3 .u-text-1 {font-size: 1rem; font-weight: normal}
.u-section-3 .u-text-2 {font-size: 1rem; font-weight: normal} 

@media (max-width: 767px){ .u-section-3 .u-custom-html-2 {width: 540px; margin-left: 0} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1491px}
.u-section-3 .u-custom-html-1 {min-height: 247px; height: auto; width: 127px; margin-top: 58px; margin-bottom: 0}
.u-section-3 .u-custom-html-2 {min-height: 247px; height: auto; width: 127px; margin-top: 433px; margin-left: auto; margin-bottom: 0}
.u-section-3 .u-text-1 {font-size: 0.875rem; font-weight: 700; margin: -985px auto 0 0}
.u-section-3 .u-text-2 {font-size: 0.875rem; font-weight: 700; width: auto; margin: 304px auto 0 0}
.u-section-3 .u-custom-html-3 {min-height: 247px; height: auto; width: 127px; margin: 21px auto 0}
.u-section-3 .u-icon-1 {height: 48px; width: 48px; margin: 36px auto 0}
.u-section-3 .u-custom-html-4 {min-height: 247px; height: auto; width: 127px; margin: 406px auto 0}
.u-section-3 .u-icon-2 {height: 48px; width: 48px; margin: -333px auto 60px 146px} }